name: Deploy to EC2

on:
  push:
    branches: [ "조은성/main", "조은성/6주차" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Decode PEM key
        run: |
          echo "${{ secrets.EC2_KEY }}" | base64 -d > ec2-key.pem
          chmod 600 ec2-key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ec2-key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            sudo apt-get update
            sudo apt-get install -y openjdk-21-jdk
            java -version

            pkill -f java || true
            cd ${{ secrets.PROJECT_NAME }} || git clone https://github.com/${{ github.repository }} ${{ secrets.PROJECT_NAME }} && cd ${{ secrets.PROJECT_NAME }}
            git pull origin main
            ./gradlew bootJar --no-daemon
            java -jar build/libs/*.jar > app.log 2>&1 &
          EOF
